<div class="grid">
	<div class="col">
  <% @anime.each_slice(2).map(&:first).each do |a| %>
		<div class="box" style="background-image:url('/anime/<%= a.name %>/box.jpg')">
			<p class="title"><%= a.name %></p>
			<div class="thumbrow">
				<!-- imgs -->
			</div>
		</div>
    <% end %>
	</div>
	<div class="col">
    <% @anime.each_slice(2).map(&:last).each do |a| %>
  		<div class="box" style="background-image:url('/anime/<%= a.name %>/box.jpg')">
  			<p class="title"><%= a.name %></p>
  			<div class="thumbrow">
  				<!-- imgs -->
  			</div>
  		</div>
      <% end %>
	</div>
</div>
