// Place all the styles related to the Anime controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	text-align: center;
	background: #444444;
}

.grid {
	width: 90%;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.col {
	width: 44%;
	float: left;
	margin-right: 3%;
	margin-left: 3%;
}

.box {
  position: relative;
	height: 430px;
	margin-bottom: 0px;
	background-size: cover;
	box-shadow: 3px 3px 3px #222222;
	border: 2px #222222;
  border-style: solid solid none solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-shadow: 0 0 6px #FFFFFF;
	font-family: bolonewt;
}

.subtext {
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: 0 0 4px #FFFFFF;
}

.thumbrow {
  overflow: auto;
  height: auto;
  margin-bottom: 10%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 3px 3px 3px #222222;
  border: 2px #222222;
  border-style: none solid solid solid;
}

.thumbImg {
  width: auto;
  height: 70px;
}

.unseen {
  border: 1px solid #FF0000;
}
@font-face {
	font-family: bolonewt;
	src: font-url('Bolonewt.otf');
}
